STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
# Generate strong random values, e.g.: openssl rand -hex 32
JWT_SECRET=
COOKIE_SECRET=
DATABASE_URL=
DB_NAME=medusa-v2
